a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.textoNav {
  font-family: "organo";
  color: #36a9e1;
  font-size: 20px;
}

.textoNav:hover {
  color: #00d154;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.LogoHeader {
  width: 90px;
  margin-left: 50px;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
