.Modais{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin-top: -42px;
    margin-bottom: 24px;


}
.Alinha{
   align-items: center;
}
.text {
    font-family: Montserrat, sans-serif;
    justify-content: center;
    color: #36a9e1;
}
