* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttonModal {
  border: none;
  background: linear-gradient(
    to right,
    rgba(54, 169, 225, 1),
    rgba(0, 209, 84, 1)
  );
  padding: 15px 10px 10px;
  border-radius: 5px;
  color: #fff;
  font-family: "organo";
}

.buttonModal:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tituloModal{
  font-family: 'organo';
  color:rgba(0, 209, 84,  1);
}